-e .

Werkzeug==0.8.3
Jinja2==2.6

pytz==2013b
webassets==0.8
rcssmin==1.0.2
PyYAML==3.10
requests==1.2.0

pytest==2.3.4
py==1.4.13
pytest-cov==1.6
cov-core==1.7
coverage==3.6

mock==1.0.1
pretend==0.7
